include README.md
include run_tests.sh
include settings.py
include requirements.txt
include LICENSE
include ez_setup.py
include rpm-install-script.sh
recursive-include tests *.py
recursive-include examples *.py
recursive-include pyaccumulo *.py
